<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是登录页面</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/jquery.form.js"></script>
</head>

<body>
<form action="http://127.0.0.1:8000/loginHandle/" method="post">
    {% csrf_token %}
        <div>
            <lable>用户名</lable>
            <input type="text" name="username" placeholder="请输入用户名" class="username">
        </div>
         <div>
            <lable>密码</lable>
            <input type="password" placeholder="请输入密码" name="pwd">
        </div>
         <div>
             <input type="submit"  value="登录">
        </div>
    </form>
</body>
<script>

init();

function init() {
        ajax()
}
function ajax() {
    $("form").validate({
        rules:{
                username:{
                    required:true,
                    minlength:2,
                    maxlength:10
                },
                pwd:{
                    required:true,
                }
                },
        submitHandler:function(form){
            alert("验证成功不提交");
            var storge=JSON.parse(localStorage.getItem("user"));
            var arr=[];
             if (storge != null) {
                 console.log(storge)
                 arr = storge;
                 console.log(arr)
                 console.log(arr.length)
                 for (var i = 0; i < arr.length; i++) {
                     console.log("进入循环")
                     if (form.username.value  == arr[i]["name"]) {
                          console.log("用户名正确")
                         if (form.pwd.value == arr[i]["pwd"]) {
                             console.log("登陆成功")
                             sendDataToServer()
                             return
                        }
                     }
                 }
             }
        }
    })
}
function sendDataToServer() {
    $("form").ajaxSubmit(function (data) {
                //后端返回的数据
                alert(data);
                //登陆成功跳转到文章列表页面
                 localStorage.setItem("currentUser",$(".username").val())
                 loginSucces()
             })
}


function loginSucces() {
       location.href="http://127.0.0.1:8000/list/"
}




</script>
</html>


