<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是文章列表详情页面</title>
    <script src="/static/js/jquery.js"></script>
    <style type="text/css">
        li{
            list-style: none;
            display: block;
            {#border: 1px solid #000;#}
            line-height: 30px;
        }
    </style>
</head>
<body>
<div class="wrap">

</div>
</body>
<script>
 init();
    function init() {
        var str=location.href;
        var aid=str.split("=")[1];
        ajax(aid)
        console.log(aid)
    }
function ajax(aid) {
        var   data= {
             aid:aid
          }
          console.log(data)
    $.ajax({
			type:"get",
			dataType:"json",
			url:"http://127.0.0.1:8000/detailHandle/",
            data:data,
			success:function(data) {
                console.log(data)
                str = "";
                item=data["data"][0][0]
                console.log(item)
                str += "<ul> <li>标题为" + item["title"] + "</li> ";
                str += "<li class='last'>发表时间:" + item["time"] + "</li>";
                str += "<li class='last'>内容是" + item["content"] + "</li> </ul><a>"
                $(".wrap").html(str)
			}
		});
}





</script>
</html>