<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是添加博客页面</title>
    <script src="/static/js/jquery.js"></script>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.validate.js"></script>
    <script src="/static/js/jquery.form.js"></script>
</head>
<body>
<form action="http://127.0.0.1:8000/addHandle/" method="post">
    {% csrf_token %}
        <div>
            <label>标题</label>
            <input type="text" class="title" name="title">
        </div>
        <div>
             <label>作者</label>
             <input type="text" class="author" name="author" disabled>
        </div>
        <div>
            <label>内容</label>
            <textarea name="content" ></textarea>
        </div>
        <div>
            <button class="btn">提交</button>
        </div>
</form>
</body>
<script>
    init();
    var currentUser;
    var arr;
    var obj;
     var articleObj;
     var articleList;
function init() {
	 var currentUser=localStorage.getItem("currentUser");
	 $(".author").val(currentUser);
	getCurrentUser()
}
 function getCurrentUser() {
	currentUser=localStorage.getItem("currentUser");
 	console.log(currentUser);
 	 ajax()
 }
 function ajax() {
 	  $("form").validate({
         rules:{
                title:{
                   required:true,
                 },
                content:{
                     required:true,
                }
                },
         submitHandler:function(form){
            alert("验证成功不提交");
         $("form").ajaxSubmit(function (data) {
             //后端返回的数据
             console.log(data);
             var storge=JSON.parse(localStorage.getItem("article"));
             if (storge == null) {
                 arr=[]
             }else {
                 arr = storge;
                 for (var i = 0; i < arr.length; i++) {
                     articleObj = arr[i];
                     articleList = articleObj["articleList"];
                     if (articleObj["author"] == currentUser) {
                         //找到当前登陆的用户的信息
                         obj = {
                             id:articleObj["articleList"].length+1,
                             title: form.title.value,
                             time:new Date().getFullYear()+"年"+new Date().getMonth()+"月"+new Date().getDate()+"日"+new Date().getHours()+":"+new Date().getMinutes()+":"+new Date().getSeconds(),
                             content: form.content.value
                         };
                         articleObj["articleList"].push(obj);
                         localStorage.setItem("article", JSON.stringify(arr));
                                return;
                     }//如果不是

                 }
             }
             //存缓存
             obj={
                 id:1,
                 title: form.title.value,
                 time:new Date().getFullYear()+"年"+new Date().getMonth()+"月"+new Date().getDate()+"日"+new Date().getHours()+":"+new Date().getMinutes()+":"+new Date().getSeconds(),
                 content: form.content.value
             };
             articleObj={
                 author:currentUser,
                 articleList:[]
             };
             articleObj["articleList"].push(obj);
             arr.push(articleObj);
             console.log(obj)
             console.log(articleObj["articleList"])
             console.log(currentUser)
             console.log(articleObj)
             console.log(arr)
            localStorage.setItem("article",JSON.stringify(arr))
        })
        }
     })
 }

</script>
</html>