<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是博客列表页面</title>
    <link rel="stylesheet" href="/static/css/list.css">
    <script src="/static/js/jquery.js"></script>
</head>
<body>
<button><a href="http://127.0.0.1:8000/add/">添加文章</a></button>
<div class="container">
{#这是存放内容的div#}
</div>
</body>
<script>
    init()
    function init() {
        var storge=JSON.parse(localStorage.getItem("article"));
        var currentUser=localStorage.getItem("currentUser");
        var container ="";
            var arr=[];
             if (storge != null) {
                 console.log(storge);
                 arr = storge;
                 for (var i = 0; i < arr.length; i++) {
                     var articleList=arr[i]["articleList"];
                     if (arr[i]["author"] == currentUser){
                         for (var j=0;j<articleList.length;j++){
                             var content="";
                             content += "<a href='http://127.0.0.1:8000/articleDetail?id="+articleList[j]['id']+"'><ul><li> 标题是"+articleList[j]['title'] +"</li> <li  class='last'>作者是"+arr[i]['author']+"</li> <li class='last'>发表时间是"+articleList[j]['time']+"</li> </ul></a>";
                             console.log(content);
                              container +=content;
                         }
                         console.log(container);
                         $(".container").html(container)
                     }
                 }
             }

    }



</script>


</html>


